# Archivos descargados de OpenBootcamp
OpenBootcamp/OpenBootcamp_GitHub
Udemy/Udemy_GitHub

# Configuraciones .json
*.json

# Directorios
.vscode
OpenBootcamp/Python_Backend/Curso_De_Python/Practicas/Calc1.0/Modules/__pycache__/
OpenBootcamp/C#_Backend/Curso_Basico_De_C#/Modulo_6/Arrays/obj/Debug/net7.0/*.cache

# .class Java
**.class
